html {
  font-size: 16px;
  text-align: center;
  background: rgb(170, 170, 170);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.125em;
  /*18 /16 = 1.125*/
  line-height: 1.55555em;
  /*28 /18 =1.55555em */

}

form {

  background-color: grey;

}

label {
  display: block;
  padding-bottom: 0.25;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
}



input {
  text-align: center;
  margin: 1%;
}

ul {
  text-align: center;
}

h2 {
  margin: 2em 0em 1em 0em;
  font-size: 30px;
  background-color: white;
  padding: 1%;
}


img {
margin: 2%;
}



@media screen and (min-width: 600px) {
  #wrap {
    display: inline-block;
    font-size: 150%;
    text-align: left;
    justify-content: left;
  }

  h1 {
    font-size: 300%;
  }

  h3 {
    font-size: 250%;
  }
}